.img-wrapper {
  padding-left: 10px;
  border: 1px solid gray;
  width: 850px;
  height: 250px;
}
.label-wrapper {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 200px);
  margin-left: -100px;
}
h3 {
  padding-top: 50px;
}
p {
  text-align: left;
}
